/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
#matrix__img {
  width: 100%;
}
.matrix__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .matrix { 
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-row-single {
  display: flex;
}
#incomplete-tasks,
#completed-tasks {
  margin: 0;
  padding: 0px;
}


#incomplete-tasks * {
  list-style: none;
}
.task_input,
.edit-btn,
.delete-btn,
.add-btn {
  outline: none;
}
.edit-btn,
.delete-btn,
.add-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.add-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  color: #3a3a3a;
}
/* Heading */
.section-header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task_text:focus {
  color: #333;
}

/* New Task */
.section-header[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.task-row {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-row > * {
  vertical-align: middle;
}

.task-row > .task_input[type="checkbox"] {
  margin: 0 10px;
}
.task-row > .task_name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-row > .task_input[type="text"] {
  width: 226px;
}
.delete-btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task_name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-row .task_text {
  display: none;
}

.task-row_edit-mode .task_text {
  display: inline-block;
  width: 224px;
}

.task-row_edit-mode .task_name {
  display: none;
}